#todoList label {
    width: 80%;
}

#todoList li {
    list-style-type: none;
}

.completed label {
    color: blue;
    font-weight: bolder;
}


.uncompleted label {
    color: #1eff00;
    font-weight: bolder;
    /* text-decoration: line-through; */
}

#todoList .btn {
    margin-left: 10px;
}