* {
    margin: 0;
    padding: 0;
}



.header {
    font-family: 'Amiri', serif;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
}

.h-judul {

    font-weight: bolder;
    background: linear-gradient(to right, #ff0099, #cf33ff);

    /* width: max-content; */
    padding: 20px;
    /* border radius bottom right and left */
    border-radius: 10px 10px 50px 50px;
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
    /* atrribute to align text center */
    position: relative;
    display: flex;
    justify-content: space-around;
}

.h-judul>h1 {
    display: inline;
    font-size: 3rem;
}

.h-judul>.lafadz-muhammad {
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
    display: inline;
    position: absolute;
    width: 75px;
    height: 75px;
    right: 0;
    top: 0;
    padding: 10px;
    border-radius: 5rem;
    background: linear-gradient(to right, #ff0099, #cf33ff);
    color: white;
    text-shadow: 0px 0px 10px rgb(255, 251, 0);


}

.h-judul>.lafadz-Allah {
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
    display: inline;
    position: absolute;
    width: 75px;
    height: 75px;
    left: 0;
    top: 0;
    padding: 10px;
    border-radius: 5rem;
    background: linear-gradient(to right, #ff0099, #cf33ff);
    color: white;
    text-shadow: 0px 0px 10px rgb(255, 251, 0);
}


.h-judul:hover {
    background: linear-gradient(to bottom, #4e0632, #4c0661);
    color: gold;
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
}

.timer>div {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to right, #ff0099, #cf33ff);
    color: white;
    text-shadow: 0px 0px 10px rgb(255, 251, 0);
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
    text-align: center;
}

.formmain {
    font-family: 'Amiri', serif;
    text-align: center;
    font-weight: bolder;
    color: #ffffff;
    background: linear-gradient(to right, #ff0099, #493240);
    background: -moz-linear-gradient(top, #ffffff 0%, #00c9c9 100%);
    border-radius: 10px;
    padding: 20px;
}

.backform {
    background: #dddddd11;
    border-radius: 10px;
    padding: 10px;
}

#coutdown {
    color: brown;
    font-weight: bolder;
}

.btn:hover {
    background-color: #ff0099;
}
.maincard {
    background: linear-gradient(to right, #ff0099, #cf33ff);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
    margin-top: 20px;
    color: wheat;
    font-weight: bolder;
    text-align: center;
    font-family: 'Amiri', serif;
}

#getnama {
    font-family: 'Amiri', serif;
    text-align: center;
    font-weight: bolder;
    color: #ffffff;
    background: linear-gradient(to right, #ff0099, #493240);
    background: -moz-linear-gradient(top, #ffffff 0%, #00c9c9 100%);
    border-radius: 10px;
    padding: 20px;
}

#getnama:hover {
    background: linear-gradient(to bottom, #4e0632, #4c0661);
    color: gold;
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
}

#getharapan {
    font-family: 'Amiri', serif;
    text-align: justify;
    font-weight: 200;
    color: #ffffff;
    background: linear-gradient(to left, #cf33ff, #ce037d);
    background: -moz-linear-gradient(top, #ffffff 0%, #00c9c9 100%);
    border-radius: 10px;
    padding: 20px;
}

#getharapan:hover {
    background: linear-gradient(to bottom, #4e0632, #4c0661);
    color: gold;
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
}

.btn_share {
    background: linear-gradient(to right, #4400ff, #33beff);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: center;
    font-family: 'Amiri', serif;
    float: left;
}

.btn_buat {
    background: linear-gradient(to right, #ff0000, #c2ff33);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: center;
    font-family: 'Amiri', serif;
    float: right;
}



.footer {
    font-family: 'Amiri', serif;
    text-align: center;
    font-weight: bolder;
    color: #ffffff;
    background: linear-gradient(to right, #ff0099, #493240);
    background: -moz-linear-gradient(top, #ffffff 0%, #00c9c9 100%);
    border-radius: 10px;
    padding: 20px;
}

.footer>p {
    display: inline-block;
}

.footer>a {
    display: inline-block;
    text-transform: none;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}