.header {
    font-family: 'Amiri', serif;
    text-align: center;
    font-weight: bolder;
}

.formmain {
    font-family: 'Amiri', serif;
    text-align: center;
    font-weight: bolder;
    color: #ffffff;
    background: linear-gradient(to right, #ff0099, #493240);
    background: -moz-linear-gradient(top, #ffffff 0%, #00c9c9 100%);
    border-radius: 10px;
    padding: 20px;
}

.backform {
    background: #dddddd11;
    border-radius: 10px;
    padding: 10px;
}

#coutdown {
    color: brown;
    font-weight: bolder;
}

.btn:hover {

    background-color: #ff0099;

}